set_io cin pad_fpga_io[2]
set_io a[0] pad_fpga_io[29]
set_io a[1] pad_fpga_io[30]
set_io a[2] pad_fpga_io[31]
set_io a[3] pad_fpga_io[32]
set_io b[0] pad_fpga_io[33]
set_io b[1] pad_fpga_io[34]
set_io b[2] pad_fpga_io[35]
set_io b[3] pad_fpga_io[0]
set_io cout pad_fpga_io[8]
set_io sum[0] pad_fpga_io[4]
set_io sum[1] pad_fpga_io[5]
set_io sum[2] pad_fpga_io[6]
set_io sum[3] pad_fpga_io[7]